$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
// base

body {background:#fff; font-family: "Open Sans", Arial, sans-sefif; border-top:5px solid #e74c3c;}

//modules


.full {
	background:#ecf0f1;
	border-bottom:1px solid rgba(0,0,0,.3);
	margin:0;
	padding:10px 0;
}

.HTMLblink {opacity:0;}
.generated-blink {text-align:center; font-size:200%;}

// module - header text

header {

	padding-bottom:50px;
	
	h1{ 
		font-size:75px;
		text-align:center;
	}

	p{
		text-align:center;
	}
}


#blinkText {
	font-weight:300;
}

.form-button { font-weight:300; text-align:right; margin-left:5px;}

.panel {margin-top:20px;}